// --NORMALIZE--
@import 'components/normalize';
// --NORMALIZE--

// --FONTS--
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Roboto|Sen&display=swap');
// --FONTS--

* {
    font-family: 'Sen', 'Montserrat', 'Roboto', sans-serif;

    list-style-type: none;
}

body {
    --sides-blank-space: 10em;
    // min-height: 100vh;

    display: flex;
    padding-left: var(--sides-blank-space);
    padding-right: var(--sides-blank-space);

    background-image: url('../assets/images/background.png');

    font-size: 16px;
}

.icon {
    cursor: pointer;
}

@import 'components/container';
@import 'components/header';
@import 'components/main';
@import 'components/footer';
@import 'components/title';
@import 'components/carousel';
@import 'components/media';