<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tomas Caceres

        link(rel="stylesheet", href="./css/index.css")
    body
        .__container
            header.__header 
                h1.__title Tomás Cáceres
            main.__main 
                section._main_picture
                    img.__image(src="./assets/images/main.jpg", alt="main_picture")
                section._description
                    p.__plain__text Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror.
                section._social_media
                    a(href="https://wa.me/542235916650")
                        img.__image(src="./assets/images/whatsapp.png", alt="WhatsApp")
                    a(href="https://www.instagram.com/tomy__caceres/")
                        img.__image(src="./assets/images/instagram.png", alt="Instagram")
                    img.__image(src="./assets/images/messenger.png", alt="Messenger")
            footer.__footer 
                p.__footer__text#footerText1 Desarrollado por Luciano Della Savia en apoyo de Tomás Cáceres
                p.__footer__text#footerText2
                p.__footer__text#footerCopywrite
                    sup &copy


        script(src="./js/index.js")