.__container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas: "header"
        "main"
        "footer";

    min-width: 100%;
    min-height: 100vh;

    background: linear-gradient(180deg, rgba(198, 217, 218, 0.616) 0%, rgba(180, 218, 218, 0) 100%);

    box-shadow: 0 0 5px #ccc,
        0 0 7.5px #777,
        0 0 10px #444;
    overflow: hidden;
}