.__container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 2fr 10fr 1fr;

    grid-template-areas: "header"
                         "main"
                         "footer";

    min-width: 100%;
}